VITE_SUPABASE_URL=https://mbmciodkqwacchaxunvq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ibWNpb2RrcXdhY2NoYXh1bnZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMTU3OTEsImV4cCI6MjA4ODY5MTc5MX0.RfX1F__YENA6cS-2SJ9d3m8psrty7nl08q8zLr9EmKk
